.swiper-procedure .swiper-slide img,
.feature-pagination li,
.feature-pagination li .icon,
.tx-header,
.tx-header .logo i,
.tx-header .logo img,
.tx-header .menu,
.tx-header .logo {
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

.animation-up-30 {
  transform: translate3d(0, 30px, 0);
  -webkit-transform: translate3d(0, 30px, 0);
  opacity: 0;
}

.index-feature .swiper-slide-active .animation-up-30,
.animation .animation-up-30 {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.index-feature .swiper-slide-active .animation-up-30 {
  transition: all .7s ease-out .5s;
  -moz-transition: all .7s ease-out .5s;
  -webkit-transition: all .7s ease-out .5s;
  -o-transition: all .7s ease-out .5s;
}

/*header*********/
.header-layout {
  height: 150px;
}

.tx-header .logo {
  position: absolute;
  left: 0;
  transform: translate(0, 0);
}

.header-layout .logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  /* margin-left: -22px; */
}

.header-layout .logo i {
  opacity: 0;
  display: none;
}

.header-layout .logo img {
  height: 105px;
}

.tx-header .menu {
  margin-left: 290px;
  /*bottom: 0;*/
  /*top: inherit;*/
}

.tx-header .login {
  transform: translate(0, 0);
  transition: all .5s;
}

.header-layout .login {
  opacity: 0;
  transform: translate(0, -200px);
  transition: all .5s;
}

.header-layout .menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  line-height: 44px;
  width: 100%;
  text-align: center;
  margin-left: 0;
}

.header-layout .has-menu .title:after {
  opacity: 0;
}

.header-layout .menu li:hover .child-menu {
  transform: translate(0, -50%) scaleY(0);
  opacity: 0;
  border-top: none;
}

.video-box {
  width: 100%;
  margin-top: 150px;
  background-color: #ffffff;
  position: relative;
  background-position: center;
  background-image: url('/img/index-video-back.jpg');
  background-size: cover;
}

.video-box video:before {
}

.video-box .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, .1);
}

.video-box .box span {
  background-image: url("../img/index-banner.png");
  width: 744px;
  height: 169px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .9;
  background-size: 100% 100%;
  transform: translate(-50%, -50%);
}

.video-box video {
  width: 100%;
  height: 100%;
}

.index-title {
  margin-top: 50px;
  text-align: center;
}

.index-title > img {
  height: 65px;
}

.index-title > h4 {
  width: 100%;
  font-size: 34px;
  position: relative;
  height: 50px;
  margin-top: -20px;
}

.index-title > h4 span {
  position: absolute;
  z-index: 2;
  padding-left: 40px;
  padding-right: 40px;
  left: 50%;
  background-color: #FFFFFF;
  transform: translate(-50%, 0);
}

.index-title > h4:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  background-color: #666;
  top: 50%;
}

.index-feature {
  margin-top: 50px;
}

.swiper-feature .swiper-slide {
  height: 350px;
  background: #F6F6F5;
  position: relative;
  border-top: 30px solid #FFFFFF;
}

.swiper-feature .left-img {
  width: 500px;
  height: 335px;
  top: -15px;
  left: 40px;
  background-color: #2D93CA;
  position: absolute;
  background-position: center;
  background-size: cover;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

.swiper-feature .right-content {
  width: 545px;
  position: absolute;
  right: 30px;
  margin-top: 60px;
}

.swiper-feature .right-content .title {
  font-size: 26px;
  color: #000000;
  font-weight: 600;
  transition-delay: .6s;
  -moz-transition-delay: .6s;
  -webkit-transition-delay: .6s;
  -o-transition-delay: .6s;
}

.swiper-feature .right-content li {
  position: relative;
}

.swiper-feature .right-content .title:after {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  right: 0;
  border-top: 1px solid #979797;
}

.swiper-feature .right-content .text {
  color: #2E2E2E;
  line-height: 28px;
  margin-top: 30px;
  transition-delay: .8s;
  -moz-transition-delay: .8s;
  -webkit-transition-delay: .8s;
  -o-transition-delay: .8s;
}

.feature-pagination {
  width: 100%;
  margin-top: 50px;
}

.feature-pagination:after {
  content: '';
  clear: left;
  display: block;
}

.feature-pagination li {
  width: 33.33%;
  height: 300px;
  text-align: center;
  line-height: 45px;
  float: left;
  cursor: pointer;
}

.feature-pagination li:hover,
.feature-pagination li.active {
  background-color: #F6F6F5;
  position: relative;
}

.feature-pagination li:hover .icon,
.feature-pagination li.active .icon {
  opacity: 1;
}

.feature-pagination li:hover:before,
.feature-pagination li.active:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -15px;
}

.feature-pagination i.icon {
  width: 76px;
  height: 76px;
  display: block;
  margin: 70px auto;
  opacity: .35;
  background-size: 100% 100%;
  margin-bottom: 10px;
}

.feature-pagination h3 {
  font-size: 26px;
  font-weight: bold;
}

.feature-pagination h5 {
  font-size: 16px;
}

.index-schedule {
  position: relative;
  height: 520px;
  margin-top: 30px;
}

.index-schedule .content {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.index-schedule .content .back {
  width: 0;
  height: 100%;
  background-image: url("../img/index-sanjiaoxing.png");
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-schedule.second .content .back {
  /* background-size: 100% 0; */
}

.index-schedule .content .tag {
  position: absolute;
  right: 0;
  top: 130px;
}

.index-schedule .content h3 {
  font-size: 20px;
  position: absolute;
  right: 0;
  width: 540px;
  bottom: 85px;
  line-height: 42px;
}

.index-schedule .content h3 span {
  font-size: 24px;
  font-weight: bold;
}

.index-schedule .content h5 {
  position: absolute;
  color: #999999;
  bottom: 0;
  right: 0;
  font-size: 16px;
}

.index-schedule.second .back {
  transform: rotateY(180deg);
}

.index-schedule.second .content h5,
.index-schedule.second .content .tag,
.index-schedule.second .content h3 {
  left: 0;
}

.index-procedure {
  background-image: url("../img/index-bg.png");
  width: 100%;
  height: 654px;
  margin-top: 60px;
  box-sizing: border-box;
  padding-top: 10px;
  background-position: center;
  background-size: cover;
}

.swiper-procedure-box {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: 120px;
}

.swiper-procedure-box:before {
  content: '';
  width: 100%;
  border-top: dashed 1px #999999;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: 12px;
  z-index: -1;
}

.swiper-procedure .swiper-slide {
  text-align: center;
  box-sizing: border-box;
  padding-left: 3px;
}

.swiper-procedure .swiper-slide > div {
  height: 67px;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
}

.swiper-procedure .swiper-slide img {
  height: 67px;
  display: block;
  margin: 0 auto;
  transition-delay: .5s;
  -moz-transition-delay: .5s;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
}

.swiper-procedure .swiper-slide.active img {
  transform: translate3d(0px, -67px, 0px);
}

.swiper-procedure .swiper-slide.active label {
  opacity: 0;
  transition: all .8s ease-out;
  -moz-transition: all .8s ease-out;
  -webkit-transition: all .8s ease-out;
  -o-transition: all .8s ease-out;
}

.swiper-procedure .swiper-slide label {
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid #979797;
  border-radius: 50%;
  background-image: url("../img/index-bg.png");
  margin: 0 auto;
  margin-bottom: 30px;
  opacity: 1;
}

.swiper-procedure .swiper-slide h4 {
  color: #2E2E2E;
  font-weight: bold;
  margin-bottom: 15px;
}

.swiper-procedure .swiper-slide h5 {
  font-size: 12px;
  color: #2E2E2E;
  line-height: 20px;
}

.index-schedule .img1 {
  margin-top: 0;
  margin-left: 50px;
  vertical-align: middle;
}

.index-schedule .img2 {
  margin-top: 40px;
  margin-left: 40px;
  vertical-align: top;
}

.index-schedule.second {
  text-align: right;
}

.index-schedule.second .content {
  text-align: left;
}

.index-schedule.second .img3 {
  margin-right: 30px;
  vertical-align: top;
  margin-top: 40px;
}

.index-schedule.second .img4 {
  margin-right: 40px;
  vertical-align: top;
  /* margin-top: 10px; */
}

.swiper-procedure-box .jiandao {
  width: 48px;
  height: 73px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 70px;
  background: url("../img/index-jiandao.png");
  -webkit-background-size: auto 73px;
  z-index: 2;
}

.swiper-procedure-box .jiandao.active {
  animation: am-rotate .8s steps(13) infinite;
  -webkit-animation: am-rotate .8s steps(13) infinite;
  -moz-animation: am-rotate .8s steps(13) infinite;
  -o-animation: am-rotate .8s steps(13) infinite;
  animation-iteration-count: 2;
}

@keyframes am-rotate {
  from {
    background-position: 0 0
  }

  to {
    background-position: -624px 0
  }
}

@-moz-keyframes am-rotate {
  from {
    background-position: 0 0
  }

  to {
    background-position: -624px 0
  }
}

@-ms-keyframes am-rotate {
  from {
    background-position: 0 0
  }

  to {
    background-position: -624px 0
  }
}

@-webkit-keyframes am-rotate {
  from {
    background-position: 0 0
  }

  to {
    background-position: -624px 0
  }
}

.swiper-procedure-box .text-box {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 100%;
}

.swiper-procedure-box .text-box li {
  width: 13%;
  margin: 10px auto;
  font-size: 12px;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  position: absolute;
  left: 43.5%;
  opacity: 0;
}

.swiper-procedure-box .text-box li.active {
  opacity: 1;
}

.index-story {
  min-height: 550px;
  margin-top: 50px;
}

.index-story:after {
  content: '';
  display: block;
  clear: both;
}

.index-story li {
  width: 33%;
  text-align: center;
  height: 100%;
  background-color: #fff;
  float: left;
  margin-right: .5%;
  border-radius: 3px;
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  /*-moz-box-shadow: 0 0 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,.3);
  box-shadow: 0 0 0 rgba(0,0,0,.3);*/
  padding-bottom: 20px;
}

.index-story li:last-child {
  margin-right: 0;
}

.index-story li:hover {
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  transform: translate3d(0, -10px, 0);
}

.index-story .header-img {
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: cover;
  display: block;
  margin: 50px auto 0 auto;
  border-radius: 50%;
}

.index-story h4 {
  font-family: "MicroSoft YaHei", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #222328;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-top: 30px;
}

.index-story h5 {
  font-size: 14px;
  color: #8C8F94;
  letter-spacing: 0;
  line-height: 26px;
  margin: 30px;
}

.index-story label {
  font-size: 14px;
  color: #FFFFFF;
  width: 138px;
  height: 36px;
  line-height: 36px;
  display: block;
  margin: 10px auto;
  background-color: #000000;
  cursor: pointer;
}

/*.index-story label:hover {
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  transform: translate3d(0, 5px, 0);
}*/

.index-story .animation-up-30 {
  transition: all 1s ease-out .1s;
  -webkit-transition: all 1s ease-out .1s;
  -moz-transition: all 1s ease-out .1s;
  -o-transition: all 1s ease-out .1s;
}

.index-story h5 {
  transition-delay: .3s !important;
  -moz-transition-delay: .3s !important;
  -webkit-transition-delay: .3s !important;
  -o-transition-delay: .3s !important;
}

.index-store {
  height: 370px;
  margin-top: 50px;
  position: relative;
}

.index-store .swiper-store {
  width: 100%;
  height: 100%;
}

.swiper-store .left-box {
  width: 43%;
  height: 370px;
  float: left;
  box-sizing: border-box;
  padding-right: 30px;
  position: relative;
}

.swiper-store .right-box {
  width: 57%;
  height: 100%;
  float: right;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  opacity: .3;
  transform: translate3d(50%, 0, 0);
  background-position: center;
  background-size: cover;
  min-height: 370px;
}

.swiper-store .swiper-slide:after {
  content: '';
  display: block;
  clear: both;
}

.swiper-store .left-box .title {
  font-size: 30px;
  color: #2E2E2E;
  position: absolute;
  top: 0;
  background-color: #fff;
  padding-right: 15px;
  transition: all .5s ease-out .5s;
  -moz-transition: all .5s ease-out .5s;
  -webkit-transition: all .5s ease-out .5s;
  -o-transition: all .5s ease-out .5s;
  transform: translate3d(-100%, 0, 0);
  z-index: 2;
  opacity: 0;
}

.swiper-store .left-box .tag {
  background-image: url("../img/index-store-zhuti.png");
  width: 246px;
  height: 22px;
  transition: all .5s ease-out .7s;
  -moz-transition: all .5s ease-out .7s;
  -webkit-transition: all .5s ease-out .7s;
  -o-transition: all .5s ease-out .7s;
  transform: translate3d(-100%, 0, 0);
}

.swiper-store .left-box .line {
  width: 100%;
  height: 1px;
  background-color: #979797;
  margin-top: 20px;
  margin-bottom: 25px;
  transform: translate3d(-100%, 0, 0);
  transition: all .3s ease-out .6s;
  -moz-transition: all .3s ease-out .6s;
  -webkit-transition: all .3s ease-out .6s;
  -o-transition: all .3s ease-out .6s;
  opacity: 0;
}

.swiper-store .left-box .address {
  font-size: 14px;
  color: #000000;
  line-height: 28px;
  margin-top: 10%;
  transform: translate3d(-100%, 0, 0);
  transition: all 1s ease-out .7s;
  -moz-transition: all 1s ease-out .7s;
  -webkit-transition: all 1s ease-out .7s;
  -o-transition: all 1s ease-out .7s;
  opacity: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.swiper-store .left-box .address span {
  color: #999999;
}

.swiper-store .left-box .info {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  color: #000000;
  line-height: 28px;
  cursor: pointer;
  transform: translate3d(-100%, 0, 0);
  transition: all .8s ease-out .9s;
  -moz-transition: all .8s ease-out .9s;
  -o-transition: all .8s ease-out .9s;
  -webkit-transition: all .8s ease-out .9s;
  opacity: 0;
}

.swiper-store .left-box .info .icon-arrow {
  background-image: url("../img/arrow-detail.png");
  width: 15px;
  height: 8px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  background-size: 100% 100%;
}

.swiper-store .swiper-slide {
  overflow: hidden;
}

.swiper-store .swiper-slide-active .left-box .title,
.swiper-store .swiper-slide-active .left-box .line,
.swiper-store .swiper-slide-active .left-box .address,
.swiper-store .swiper-slide-active .left-box .tag,
.swiper-store .swiper-slide-active .left-box .info {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.swiper-store .swiper-slide-active .right-box {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.store-pagination {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  line-height: 44px;
  top: 50%;
  margin-top: -33px;
  cursor: pointer;
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  z-index: 9;
}

.store-pagination:hover {
  background-color: #F5F5F5;
}

.store-pagination i {
  vertical-align: middle;
  display: inline-block;
  width: 15px;
  height: 22px;
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  background-image: url("../img/index-arrow_left.png");
  background-size: 100% 100%;
}

.store-pagination.left {
  left: -87px;
}

.store-pagination.right {
  right: -87px;
}

.store-pagination.right i {
  transform: rotateY(180deg);
}

.store-pagination.left:hover i {
  transform: translate3d(-5px, 0, 0);
}

.store-pagination.right:hover i {
  transform: rotateY(180deg) translate3d(-5px, 0, 0);
}

/*animation style*************************/
.animation.index-schedule .content .back {
  transition: all .5s ease-out .3s;
  -moz-transition: all .5s ease-out .3s;
  -webkit-transition: all .5s ease-out .3s;
  -o-transition: all .5s ease-out .3s;
  opacity: 1;
  width: 100%;
}

.animation.index-schedule.second .content .back {
  opacity: 1;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
}

.animation.index-schedule .img1 {
  transition: all 1s ease-out .3s;
  -moz-transition: all 1s ease-out .3s;
  -webkit-transition: all 1s ease-out .3s;
  -o-transition: all 1s ease-out .3s;
}

.animation.index-schedule .img2 {
  transition: all 1s ease-out .4s;
  -moz-transition: all 1s ease-out .4s;
  -webkit-transition: all 1s ease-out .4s;
  -o-transition: all 1s ease-out .4s;
}

.animation.index-schedule .content .tag {
  transition: all 1s ease-out .8s;
  -moz-transition: all 1s ease-out .8s;
  -webkit-transition: all 1s ease-out .8s;
  -o-transition: all 1s ease-out .8s;
}

.animation.index-schedule .content h3 {
  transition: all 1s ease-out 1s;
  -moz-transition: all 1s ease-out 1s;
  -webkit-transition: all 1s ease-out 1s;
  -o-transition: all 1s ease-out 1s;
  text-align: right;
}

.animation.index-schedule .content h5 {
  transition: all 1s ease-out 1.2s;
  -moz-transition: all 1s ease-out 1.2s;
  -webkit-transition: all 1s ease-out 1.2s;
  -o-transition: all 1s ease-out 1.2s;
}

.animation.index-schedule.second .img3 {
  transition: all 1s ease-out .3s;
  -moz-transition: all 1s ease-out .3s;
  -webkit-transition: all 1s ease-out .3s;
  -o-transition: all 1s ease-out .3s;
}

.animation.index-schedule.second .img4 {
  transition: all 1s ease-out .4s;
  -moz-transition: all 1s ease-out .4s;
  -webkit-transition: all 1s ease-out .4s;
  -o-transition: all 1s ease-out .4s;
}

/*响应式*****************************/
@media screen and (max-width: 1360px) {
  .index-store:hover .store-pagination {
    opacity: .7;
  }

  .store-pagination {
    opacity: 0;
  }

  .store-pagination.left {
    left: 0;
  }

  .store-pagination.right {
    right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .tx-box {
    width: 900px;
  }

  .swiper-feature .right-content {
    background-color: rgba(246, 246, 245, .9);
    padding: 10px 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    width: 400px;
  }

  .index-schedule .content .tag {
    height: 30px;
    top: 200px;
  }

  .index-schedule .content h3 {
    font-size: 16px;
    width: 350px;
    bottom: 60px;
    line-height: 32px;
  }

  .index-schedule.second .img3 {
    width: 400px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .index-schedule.second .img4 {
    width: 230px;
    /* margin-top: 40px; */
  }

  .index-schedule .img1 {
    width: 230px;
  }

  .index-schedule .img2 {
    width: 400px;
    /* margin-top: 100px; */
  }

  .index-schedule {
    /* margin-top: 0; */
    height: 460px;
  }

  .swiper-feature .right-content .title:after {
    width: 75%;
  }
}

@media screen and (max-width: 960px) {
  .tx-box {
    width: 768px;
  }

  .index-schedule .content h3 {
    font-size: 14px;
    bottom: 50px;
  }

  .index-schedule .content h5 {
    font-size: 12px;
  }

  .index-schedule .content .tag {
    height: 25px;
    top: 220px;
  }

  .feature-pagination li {
    height: 250px;
  }

  .feature-pagination i.icon {
    margin-top: 40px;
  }

  .feature-pagination {
    margin-top: 30px;
  }

  .feature-pagination i.icon {
    width: 60px;
    height: 60px;
  }

  .feature-pagination h3 {
    font-size: 20px;
  }

  .feature-pagination h5 {
    font-size: 14px;
  }

  .footer {
    height: 300px;
  }

  .footer-box {
    padding-top: 100px;

  }

  .footer-box .down {
    top: 70px;
  }

  .index-title > img {
    height: 55px;
  }

  .index-title > h4 {
    font-size: 28px;
    margin-top: -15px;
  }

  .index-title > h4 span {
    margin-top: 5px;
  }

}

@media screen and (max-width: 768px) {
  .tx-box {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    position: relative;
  }

  .change-style .header-box ul {
    display: none;
  }

  .change-style .header-box .logo {
    left: 15px;
  }

  .index-title > img {
    width: 60%;
    height: auto;
  }

  .index-title > h4 span {
    font-size: 22px;
    margin-top: 9px;
  }

  .swiper-feature .left-img {
    width: 90%;
    left: 5%;
  }

  .swiper-feature .right-content {
    width: 92%;
    left: 4%;
    box-sizing: border-box;
    box-shadow: none;
    background-color: initial;
    top: 185px;
  }

  .swiper-feature .swiper-slide {
    height: 460px;
  }

  .swiper-feature .right-content .title:after {

    width: 80%;

  }

  .swiper-feature .right-content .text {
    margin-top: 15px;
  }

  .swiper-feature .left-img {

    height: 250px;
  }

  .feature-pagination i.icon {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    margin-top: 25px;
  }

  .feature-pagination h3 {
    font-size: 16px;
  }

  .feature-pagination h5 {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 21px;
  }

  .feature-pagination li {
    height: 170px;
  }

  .feature-pagination li:hover:before,
  .feature-pagination li.active:before {
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 10px;
    margin-left: -10px;
  }

  .tx-header .logo {
    padding-left: 15px;
  }

  .header-layout .logo img {
    height: 90px;
  }

  .header-layout .logo {
    /* width: 242px; */
  }

  .index-title > h4 span {
    font-size: 18px;
  }

  .tx-header .menu {
    margin-right: 15px;
  }

  .tx-header .menu > li {
    margin-right: 50px;
  }

  .index-schedule .content {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .index-schedule .content .tag {
    right: 15px;
    top: 60%;
  }

  .index-schedule .content h3 {
    right: 15px;
    bottom: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: 24px;
  }

  .index-schedule .content h5 {
    right: 15px;
  }

  .index-schedule.second .content h3,
  .index-schedule.second .content h5,
  .index-schedule.second .content .tag {
    left: 15px !important;
  }

  .index-schedule.second .img3,
  .index-schedule.second .img4,
  .index-schedule .img2,
  .index-schedule .img1 {
    /* max-width: 45%; */
    width: auto;
    margin-left: 0;
    position: absolute;
    /* margin-top: 20px; */
    max-height: 90%;
  }

  .index-schedule .img1 {
    z-index: 2;
    left: 5%;
    max-width: 45%;
    height: auto;
  }

  .index-schedule .img2 {
    /* width: 65%; */
    right: 5%;
    /* top: 40px; */
    height: auto;
    width: 60%;
  }

  .index-schedule.second {
    margin-top: 70px;
  }

  .index-schedule.second .img3 {
    left: 5%;
    width: 65%;
    top: 40px;
  }

  .index-schedule.second .content .back {
    /* height: 78%; */
  }

  .index-schedule.second .img4 {
    right: 5%;
    margin-right: 0;
  }

  .swiper-procedure-box .text-box li {
    width: 30%;
    left: 35%;
  }

  .index-story {
    margin-top: 30px;
  }

  .index-story li {
    width: 100%;
  }

  .index-story .header-img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
  }

  .index-story h4 {
    margin-top: 15px;
  }

  .index-story h5 {
    margin: 15px;
  }

  .index-store {
    height: auto;
  }

  .swiper-store .left-box {
    width: 100%;
    margin-top: 10px;
    min-height: 200px;
  }

  .swiper-store .right-box {
    float: none;
    width: 100%;
  }

  .swiper-store .left-box .address {
    margin-top: 15px;
  }

  .swiper-store .left-box .info {
    right: 15px;
  }

  .store-pagination.left {
    left: 15px !important;
  }

  .store-pagination {
    right: 15px !important;
  }

  .footer-box .down {
    right: 15px;
  }

  .video-box .box span {
    width: 480px;
    height: 109px;
  }
}

@media screen and (max-width: 600px) {
  .index-schedule .content h3 {
    right: 15px;
    bottom: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 24px;
    font-size: 12px;
    width: 55%;
  }

  .index-schedule .content .tag {
    top: 65%;
  }

  .index-schedule .content h3 span {
    font-size: 18px;
  }

  .index-schedule {

    height: 400px;
  }

  .tx-header .menu {
    display: none;
  }

  .header-layout {
    height: 80px;
  }

  .video-box {
    margin-top: 80px;
  }
}

@media screen and (max-width: 480px) {

  .video-box .box span {
    width: 320px;
    height: 72px;
  }

  .index-schedule .content .back {
    display: none;
    /*width: 90% !important;*/
    /*margin-left: 5%;*/
  }

  .index-schedule {
    height: calc(100vw * (600 / 768));
  }

  .index-schedule .content .tag {
    /*top: 36%;
    height: 20px;
    right: 5%;*/
    display: none;
  }

  .tx-header .menu {
    display: none;
  }

  .index-schedule .content h3 {
    font-size: 12px;
    width: 80%;
    right: 5%;
    bottom: 0;
    line-height: 24px;
    -webkit-line-clamp: 3;
  }

  .index-schedule .content h3 span {
    font-size: 18px;
  }

  .index-schedule .content h5 {
    bottom: -16px;
    right: 5%;
  }

  .index-schedule.second .img4,
  .index-schedule .img1 {
    max-height: 80%;
  }

  .swiper-feature .swiper-slide {
    height: 520px;
  }

  .swiper-feature .right-content .title:after {

    width: 60%;
  }

}