.tx-checkbox:after,
.tx-checkbox {
  background-image: url("../img/join/xuanxiang_moren.png");
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.tx-checkbox:after {
  content: '';
  background-image: url("../img/join/xuanxiang_xuanze.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: all .5s;
}

.tx-checkbox.active:after,
.tx-checkbox:hover:after {
  opacity: 1;
}

.user-box .step-box {
  height: 120px;
  border-bottom: solid 1px #F5F5F5;
}

.user-box .step-box i {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
}

.user-box .step-box li {
  width: 25%;
  float: left;
  padding-left: 40px;
  padding-top: 40px;
  position: relative;
  box-sizing: border-box;
}

.user-box .step-box li:nth-of-type(1) i {
  background-image: url("../img/join/shenqing_moren.png");
}

.user-box .step-box li.active:nth-of-type(1) i {
  background-image: url("../img/join/shenqing_xuanze.png");
}

.user-box .step-box li:nth-of-type(2) i {
  background-image: url("../img/join/zhifu_moren.png");
}

.user-box .step-box li.active:nth-of-type(2) i {
  background-image: url("../img/join/zhifu_xuanze.png");
}

.user-box .step-box li:nth-of-type(3) i {
  background-image: url("../img/join/shenhe_moren.png");
}

.user-box .step-box li.active:nth-of-type(3) i {
  background-image: url("../img/join/shenhe_xuanze.png");
}

.user-box .step-box li:nth-of-type(4) i {
  background-image: url("../img/join/hezuo_moren.png");
}

.user-box .step-box li.active:nth-of-type(4) i {
  background-image: url("../img/join/hezuo_xuanze.png");
}

.user-box .step-box li:after {
  content: '';
  position: absolute;
  background-image: url("../img/join/arrow_moren.png");
  width: 13px;
  height: 13px;
  right: 10px;
  top: 50%;
  margin-top: 7px;
}

.user-box .step-box li.active:after {
  background-image: url("../img/join/arrow_xuanze.png");
}

.user-box .step-box li:last-child:after {
  display: none;
}

.user-box .step-box .text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  line-height: 24px;
}

.user-box .step-box .text h6 {
  font-size: 12px;
  color: #CCCCCC;
}

.user-box .step-box .text h5 {
  font-size: 14px;
  color: #666666;
}

.user-box .qrCode img {
  width: 182px;
  height: 182px;
  display: inline-block;
}

.user-box .qrCode > div {
  display: inline-block;
  vertical-align: top;
  padding-top: px;
  line-height: 24px;
  font-size: 12px;
  color: #2E2E2E;
  margin-left: 20px;
}

.join-step-title {
  font-size: 12px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 15px;
}

.join-step-title span {
  color: red;
  margin-right: 2px;
}

.user-box .certificate {
  width: 700px;
  max-width: 700px;
  height: 1011px;
  background-image: url("../img/join-certificate-back.png");
  background-size: 100% 100%;
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  box-sizing: border-box;
}

.user-box .certificate:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-image: url("../img/join-certificate.png");
  background-repeat: no-repeat;
}

.user-box .certificate .username {
  position: absolute;
  top: 404px;
  font-size: 44px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  letter-spacing: 4px;
}

.user-box .certificate .time {
  position: absolute;
  top: 495px;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.user-box .certificate .data {
  position: absolute;
  bottom: 110px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.user-box .certificate .number {
  position: absolute;
  bottom: 38px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
}

.user-box .certificate .watermark {
  position: absolute;
  color: #ededed;
  font-size: 16px;
  letter-spacing: 2px;
  transform: rotate(-30deg);
  top: 130px;
  left: 76px;
}
.user-box .certificate .watermark:nth-child(2) {
  top: 190px;
  left: 444px;
}
.user-box .certificate .watermark:nth-child(3) {
  top: 410px;
  left: 76px;
}
.user-box .certificate .watermark:nth-child(4) {
  top: 470px;
  left: 424px;
}
.user-box .certificate .watermark:nth-child(5) {
  top: 720px;
  left: 76px;
}
.user-box .certificate .watermark:nth-child(6) {
  top: 740px;
  left: 444px;
}
/*
.user-box .certificate .watermark:nth-child(7) {
  top: 970px;
  left: 444px;
}
.user-box .certificate .watermark:nth-child(8) {
  top: 950px;
  left: 64px;
}
*/

.join-shade-text {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 99;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.join-shade-text.show {
  display: block;
}

.join-shade-text:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.join-shade-text .box {
  display: inline-block;
  vertical-align: middle;
  max-width: 540px;
  padding: 40px;
  background-color: #FFFFFF;
  margin: 0 auto;
  border-radius: 8px;
  text-align: left;
  max-height: 800px;
  overflow: auto;
}

.join-shade-text iframe.box {
  border: 0;
  height: 100%;
  width: 100%;
  padding: 25px;
}

.user-box .content .transfer {
  width: 90px;
  height: 90px;
  display: inline-block;
  background-color: #DDDDDD;
  position: relative;
  border-radius: 4px;
}

.user-box .content .transfer:before {
  content: '＋';
  position: absolute;
  font-size: 50px;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  line-height: 0;
  transform: translate(-50%, -50%);
}

.user-box .content .transfer input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}

.user-box .transfer-box li {
  max-width: 30%;
  margin-right: 2%;
  margin-top: 20px;
  margin-bottom: 10px;
  max-height: 180px;
  position: relative;
  float: left;
}

.user-box .transfer-box:after {
  content: '';
  display: block;
  clear: both;
}

.user-box .transfer-box li img {
  max-height: 100%;
  max-width: 100%;
}

.user-box .transfer-box li:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  transition: all .5s;
  opacity: 0;
  cursor: pointer;
}

.user-box .transfer-box li:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/trash.png");
  width: 22px;
  height: 22px;
  opacity: 0;
  cursor: pointer;
}

.user-box .transfer-box li:hover:after,
.user-box .transfer-box li:hover:before {
  opacity: 1;
}