/*!
 * name:utsoft.css
 * owner:UTsoft
 * author:denghai.ren
 *Copyright 2017- Twitter, Inc.
 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0
}

body, button, input, select, textarea {
  font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
  font-size: 12px
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%
}

address, cite, dfn, em, var {
  font-style: normal
}

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace
}

small {
  font-size: 12px
}

ul, ol {
  list-style: none
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

legend {
  color: #000
}

fieldset, img {
  border: 0
}

button, input, select, textarea {
  font-size: 100%
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

body {
  min-width: 750px
}

.ut-font12 {
  font-size: 12px
}

.ut-font14 {
  font-size: 14px
}

.ut-font16 {
  font-size: 16px
}

.ut-font18 {
  font-size: 18px
}

.ut-font24 {
  font-size: 24px
}

.ut-font32 {
  font-size: 32px
}

/*!
 * name:ut-layout.css
 */
.ut-fr {
  float: right
}

.ut-fl {
  float: left
}

.ut-text-left {
  text-align: left
}

.ut-text-center {
  text-align: center
}

.ut-text-right {
  text-align: right
}

.ut-break {
  word-break: break-all;
  max-width: 80px;
  min-width: 50px;
  height: 40px
}

.ut-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis
}

.ut-mar-t5 {
  margin-top: 5px
}

.ut-mar-t10 {
  margin-top: 10px
}

.ut-mar-t15 {
  margin-top: 15px
}

.ut-mar-t20 {
  margin-top: 20px
}

.ut-mar-l5 {
  margin-left: 5px
}

.ut-mar-l10 {
  margin-left: 10px
}

.ut-mar-l15 {
  margin-left: 15px
}

.ut-mar-l20 {
  margin-left: 20px
}

.ut-mar-r5 {
  margin-right: 5px
}

.ut-mar-r10 {
  margin-right: 10px
}

.ut-mar-r15 {
  margin-right: 15px
}

.ut-mar-r20 {
  margin-right: 20px
}

.ut-mar-b5 {
  margin-bottom: 5px
}

.ut-mar-b10 {
  margin-bottom: 10px
}

.ut-mar-b15 {
  margin-bottom: 15px
}

.ut-mar-b20 {
  margin-bottom: 20px
}

.ut-pad-10 {
  padding: 10px
}

.ut-pad-t5 {
  padding-top: 5px
}

.ut-pad-t10 {
  padding-top: 10px
}

.ut-pad-t15 {
  padding-top: 15px
}

.ut-pad-t20 {
  padding-top: 20px
}

.ut-pad-b5 {
  padding-bottom: 5px
}

.ut-pad-b10 {
  padding-bottom: 10px
}

.ut-pad-b15 {
  padding-bottom: 15px
}

.ut-pad-tb0 {
  padding-bottom: 20px
}

.ut-pad-l5 {
  padding-left: 5px
}

.ut-pad-l10 {
  padding-left: 10px
}

.ut-pad-l15 {
  padding-left: 15px
}

.ut-pad-l20 {
  padding-left: 20px
}

.ut-pad-r5 {
  padding-right: 5px
}

.ut-pad-r10 {
  padding-right: 10px
}

.ut-pad-r15 {
  padding-right: 15px
}

.ut-pad-r20 {
  padding-right: 20px
}

.ut-border {
  border: 1px solid #bbb
}

.ut-border-dashed {
  border: 1px dashed #bbb
}

.ut-radius6 {
  -webkit-border-radius: 6px;
  border-radius: 6px
}

.ut-overflow {
  overflow: hidden
}

.ut-none {
  display: none
}

.ut-block {
  display: block
}

.ut-inline-block {
  display: inline-block
}

.ut-pointer {
  cursor: pointer
}

.ut-color-e {
  color: #e5544c
}

.ut-color-g {
  color: #4da146
}

.ut-color-p {
  color: #ff6091
}

.ut-color-gray {
  color: #999
}

.ut-color-cancel {
  color: #607d8b
}

.ut-input {
  padding: 5px 10px 3px;
  background-color: #fff;
  background-image: none;
  font-size: 12px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
}

.ut-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(107, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(107, 175, 233, .6)
}

.ut-btn {
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 12px 2px;
  border: 1px solid transparent;
  cursor: pointer;
  outline: 0;
  line-height: 19px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block
}

.ut-btn:hover {
  opacity: .8
}

.btn-1 {
  color: #fff;
  background-color: #2baf2b;
  border-color: #0a8f08
}

.btn-2 {
  color: #fff;
  background-color: #ff6091;
  border-color: #d81b60
}

.btn-3 {
  color: #fff;
  background-color: #e84e40;
  border-color: #dd191d
}

.btn-4 {
  color: #fff;
  background-color: #29b6f6;
  border-color: #039be5
}

.btn-5 {
  border-color: #bbb;
  background-color: transparent
}

.ut-box {
}

.ut-box .ut-title {
}

.ut-box .ut-title .square {
  display: inline-block;
  height: 30px;
  width: 6px;
  background-color: #8e24aa;
  vertical-align: top;
  margin-right: 5px
}

.ut-box .ut-title .title-words {
  display: inline-block;
  height: 29px;
  padding-top: 1px;
  line-height: 30px;
  color: #000;
  font-size: 14px;
  font-weight: 700
}

.ut-box .ut-body {
  padding: 10px
}

#header {
  height: 45px;
  background-color: #25313F;
  border-bottom: 1px solid #fff;
  position: fixed;
  width: 100%;
  z-index: 9
}

#header .ut-overflow {
  max-width: 1200px;
  margin: 0 auto
}

#header .home-logo:hover {
  text-decoration: none
}

.logo {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-top: -6px;
  position: relative;
  top: 8px
}

.title {
  padding-left: 15px;
  color: #A9D5EB;
  line-height: 45px;
  font-weight: 700;
  font-size: 20px
}

#header .ut-fr {
  padding-right: 10px
}

#header .ut-fr span {
  color: #fff;
  line-height: 45px;
  padding: 0 5px
}

#header .cut-line {
  font-size: 20px
}

#header .ut-fr .phone-number {
  color: red
}

div.content {
  padding-top: 45px
}

.content-outer {
  max-width: 1200px;
  margin: 0 auto
}

.menu {
  height: 100%;
  background-color: #435770;
  color: #A9B8CC;
  padding: 0;
  width: 170px;
  position: fixed;
  z-index: 9
}

.menu li {
  padding: 15px 30px;
  line-height: 20px;
  font-weight: 700;
  border: 1px solid #999699
}

.menu li.active {
  color: #fff
}

.menu a {
  color: #AEBDD0;
  text-decoration: none;
  font-size: 14px
}

.menu a span {
  padding-right: 10px;
  font-size: 16px
}

.menu a:hover {
  color: #fff
}

.menu a.active {
  color: #fff
}

.store-content {
  background-color: #fff;
  padding: 10px 10px 10px 180px;
  width: 100%;
  position: relative;
  z-index: 8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}