<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>个人信息</title>
  <meta name="referrer" content="never">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/user.css">
  <link rel="stylesheet" href="../css/join-step.css">
</head>
<body>

<link rel="import" href="../components/header.html?__inline">

<!--<div class="tx-box">
  <ul class="tx-nvaBar">
    <li>您现在的位置：</li>
    <li onclick="window.history.go(-1)">招商加盟&nbsp;&nbsp;&gt;&nbsp;&nbsp;</li>
    <li>个人信息</li>
  </ul>
</div>-->

<div class="tx-box" id="join-step-app" style="position: relative;margin-top: 110px;">
  <ul class="user-menu">
    <li onclick="window.location.href = 'user-info.html'">个人信息</li>
    <li class="active" id="go-joinStep">加盟流程</li>
  </ul>

  <div class="user-box">
    <ul class="step-box">
      <li>
        <i class="icon"></i>
        <div class="text">
          <h6>第一步</h6>
          <h5>提交申请</h5>
        </div>
      </li>
      <li>
        <i class="icon"></i>
        <div class="text">
          <h6>第二步</h6>
          <h5>支付费用</h5>
        </div>
      </li>
      <li class="active">
        <i class="icon"></i>
        <div class="text">
          <h6>第三步</h6>
          <h5>资料审核</h5>
        </div>
      </li>
      <li>
        <i class="icon"></i>
        <div class="text">
          <h6>第四步</h6>
          <h5>达成合作</h5>
        </div>
      </li>
    </ul>

    <div class="content tx-hide" :class="{'tx-show':stepData.status}">
      <div v-if="stepData.status === 1 || stepData.status === 4" style="text-align: center;font-size: 12px;color: #2E2E2E;">
        <img src="../img/join/dongxiao_shenhe.png">
        <h4 style="font-size: 14px">审核中...</h4>
        <br>
        <h5 style="line-height: 20px">提交时间：<span v-text="stepData.updateTime"></span>
          <br>请耐心等待，工作人员会在3个工作日回复审核结果</h5>
      </div>
      <div v-if="stepData.status === 3" style="text-align: center;font-size: 12px;color: #2E2E2E;">
        <img src="../img/join/shenheshibai.png">
        <h4 style="font-size: 14px">审核失败</h4>
        <br>
        <h5 style="line-height: 20px">失败原因：<span style="  max-width: 300px;word-break: break-all;"
                                                 v-text="stepData.certigierCheckLogList.length ? stepData.certigierCheckLogList[0].remark : ''"></span>
        </h5>

        <div class="user-btn" style="margin:50px auto" @click="goStepFirst">重新提交</div>
      </div>
    </div>
  </div>

</div>

<link rel="import" href="../components/footer.html?__inline">


<script type="text/javascript" src="../js/main.js"></script>
<link rel="import" href="../components/script.html?__inline">
<script type="text/javascript" src="../lib/js/vue.min.js"></script>
<script type="text/javascript" src="../lib/js/dateformat.js"></script>
<script>
  TxMain.init.joinStep();
  TxMain.event.checkJoinStep();
  new Vue({
    el: '#join-step-app',
    data: {
      stepData: {}
    },
    created: function () {
      TxMain.event.checkJoinStep();
      var step = store.get('tx-join-step');
      if (_.isEmpty(step)) {
        return false;
      }

      step.updateTime = DateFormat.format(new Date(step.updateTime), 'yyyy.MM.dd');
      this.stepData = step;
    },
    methods: {
      goStepFirst: function () {
        $.http.put({
          url: '/v3/web/certigier/reCheck/{0}'.format(store.get('tx-join-step').id)
         }).then(function () {
          TxMain.init.joinStep().then(function () {
            window.location.href = '../view/join-stop-1.html';
          });
        });
      }
    }
  });


  $('.user-form-item .user-input').on('focus', function () {
    $(this).parents('.user-form-item').addClass('input-focus');
  }).on('focusout', function () {
    if (!$(this).val()) {
      $(this).parents('.user-form-item').removeClass('input-focus');
    }
  });
</script>
</body>
</html>