<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>招商加盟</title>
  <meta name="referrer" content="never">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/join.css">
  <link rel="stylesheet" href="../lib/style/swiper-3.4.2.min.css">
</head>
<body>

<link rel="import" href="../components/header.html?__inline">


<div class="tx-fixed-nav">
  <ul>
    <li onclick="window.location.href = '#join-brand'">品牌介绍<i
      style=" background-image: url('../img/ic_nav_introduce.png')"></i></li>
    <li onclick="window.location.href = '#join-advantage'">品牌优势<i
      style=" background-image: url('../img/ic_nav_advantage.png')"></i></li>
    <li onclick="window.location.href = '#join-interests'">加盟权益<i
      style=" background-image: url('../img/ic_nav_rights_interests.png')"></i></li>
    <li onclick="window.location.href = '#join-procedure'">加盟流程<i
      style=" background-image: url('../img/ic_nav_technological_process.png')"></i></li>
    <li onclick="window.location.href = '#join-course'">发展历程<i
      style=" background-image: url('../img/ic_nav_course.png')"></i></li>
    <li onclick="window.location.href = '#join-product'">相关产品<i
      style=" background-image: url('../img/ic_nav_product.png')"></i></li>
    <li onclick="window.location.href = '#join-ambient'">环境展示<i
      style=" background-image: url('../img/ic_nav_environmental_science.png')"></i></li>
    <li style="color: #7ADFAC;" onclick="TxMain.event.login(null,'/view/join-stop-1.html')">点击申请<i
      style=" background-image: url('../img/ic_nav_apply.png')"></i></li>
    <li>招商热线<i style=" background-image: url('../img/ic_nav_telephone.png')"></i><h6
      style="color: #7ADFAC;margin-top: 3px;">400-999-1813</h6></li>
  </ul>
</div>


<div class="join-brand" id="join-brand">
  <div class="index-title tx-box">
    <img src="../img/title_pinpaijieshao.png">
    <h4><span style="background-image: url('../img/index-bg.png')">品牌介绍</span></h4>
  </div>

  <h5 class="text tx-box">
    作为国内私服定制新行业标准的制定者——TailorX，目前独立建设运营的工厂和各大重点城市的实体自营门店都已全面开业。
    其中上海青浦练塘工业园拥有现代化工厂面积超2700平方米，拥有目前国内最高标准的自动生产线，工厂工人超过100人；
    同时分别在上海、成都、郑州、西安落地实体门店，门店平均店内面积超700平方米，拥有一批来自国内外重点专业设计院校出身的设计师，
    人数超过40人；进入生产当月，营业额超过50万，被包括央视、凤凰卫视、第一财经等国内知名媒体作为全新消费升级的代表企业进行专访，
    访问内容也将会在近期同步播出；全新的大众创新模式和全链的私人定制模式实现一人一版、一衣一款，得到了众多投资机构的关注和接洽。
  </h5>

  <div class="video-box">
    <video loop="true" id="video">
      <source src="../video/tailorx-join.mp4" type="video/mp4">
      您的浏览器不支持 video 标签。
    </video>
    <div class="poster">
      <label class="start-player"></label>
    </div>
  </div>
</div>

<div class="join-advantage tx-box" id="join-advantage">
  <div class="index-title tx-box">
    <img src="../img/title_pinpaiyoushi.png">
    <h4><span>品牌优势</span></h4>
  </div>

  <ul class="list">
    <li class="need-animate" style="transition-delay:.2s">
      <img src="../img/img_advantage_fabric.jpg">
      <h5>精良面料</h5>
      <h6>TailorX采用国内外一类面料及辅料及精良的服装设备和工艺制作，保证成衣高品质的同时，迎合当下时尚趋势</h6>
    </li>
    <li class="need-animate" style="transition-delay:.4s">
      <img src="../img/img_advantage_technology.jpg">
      <h5>区块链技术</h5>
      <h6>区块链的基础是去中心化和信任共识机制，TailorX作为赤链生态的一员，其应用就是基于区块链技术的货权业务。
        （点击查看<span style="color: #1E90FF;cursor: pointer;" onclick="TailorX.event.text3()">货权运营公告</span>）</h6>
    </li>
    <li class="need-animate" style="transition-delay:.6s">
      <img src="../img/img_advantage_customized.jpg">
      <h5>批量定制</h5>
      <h6>加盟商不仅可以代理销售高于传统服装行业服装型号2倍至3倍数量的大小型号，还可以承接批量订单，由就近门店设计师免费协助完成</h6>
    </li>
    <li class="need-animate" style="transition-delay:.8s">
      <img src="../img/img_advantage_technological_process.jpg">
      <h5>定制流程</h5>
      <h6>从用户到商家再到工厂的全链线上线下结合的定制流程，最大程度上节约了用户时间成本，使得资源利用率最大化</h6>
    </li>
  </ul>
</div>

<div class="join-interests" id="join-interests">
  <div class="index-title tx-box">
    <img src="../img/title_jiamengquanyi.png">
    <h4><span>加盟权益</span></h4>
  </div>
  <div class="text tx-box">
    <ul>
      <li>相关义务：</li>
      <li class="need-animate" style="transition-delay:.2s">
        <span>1、</span>必须是TailorX有效注册用户；
      </li>
      <li class="need-animate" style="transition-delay:.3s">
        <span>2、</span>登陆http://www.tailorx.cn/阅读并同意加盟协议且支付加盟保证金；
      </li>
      <li class="need-animate" style="transition-delay:.4s">
        <span>3、</span>加盟费为5万元（也可以使用500个TKC支付）；
      </li>
      <li class="need-animate" style="transition-delay:.5s">
        <span>4、</span>加盟保证金为10万人民币，加盟期限最少为1年；
      </li>
      <li class="need-animate" style="transition-delay:.6s">
        <span>5、</span>加盟店需严格遵守TailorX制定的市场规范，禁止破坏TailorX的市场定价及品牌形象和相关约定规则（具体见协议内容），如有违法也会扣除加盟保证金；
      </li>
      <li class="need-animate" style="transition-delay:.7s">
        <span>6、</span>加盟店需合理的安排在线客服提供销售咨询等销售服务；
      </li>
    </ul>
    <ul>
      <li>享受条件：</li>
      <li class="need-animate" style="transition-delay:.2s">
        <span>1、</span>产品采购成本为官方指定售价的6折；
      </li>
      <li class="need-animate" style="transition-delay:.3s">
        <span>2、</span>加盟保证金可在年营业收入超过20万后到期退还；
      </li>
      <li class="need-animate" style="transition-delay:.4s">
        <span>3、</span>每个加盟店支付加盟保证金后可以获得有TailorX先期垫付的5000元储值金，便于加盟店直接开张营业。需在此笔储
        值金用完后下次支付储值金时归还TAILORX前期垫付的5000元储值金。
      </li>
      <li class="need-animate" style="transition-delay:.6s">
        <span>4、</span>储值金不计息，在加盟商停止加盟后，如有剩余储值金可原路退回；
      </li>
      <li class="need-animate" style="transition-delay:.7s">
        <span>5、</span>线上加盟接受企业服装（工作服、特殊服装、校服、制服、COSPLAY等）的批量定制订单，该订单可以联系最近城市的TAILORX门店设计师完成订单设计制作服务。
      </li>
    </ul>
  </div>

  <p class="btn need-animate" style="transition-delay:.7s" onclick="TailorX.event.text2()">
    查看全文
  </p>
</div>

<div class="join-procedure" id="join-procedure">
  <div class="index-title tx-box">
    <img src="../img/title_jiamengliucheng.png">
    <h4><span style="background-image: url('../img/index-bg.png')">加盟流程</span></h4>
  </div>

  <div class="tx-box content">
    <ul>
      <li class="need-animate left-animate"
          style="background-image: url('../img/ic_interest_submit.png');transition-delay:.1s"></li>
      <li class="need-animate left-animate" style="transition-delay:.2s">提交申请</li>
      <li class="need-animate left-animate" style="transition-delay:.3s">仔细阅读<span onclick="TailorX.event.text()">《TAILORX 网店加盟协议》</span>，填写申请表单，完善基本信息
      </li>
    </ul>
    <ul>
      <li class="need-animate left-animate"
          style="background-image: url('../img/ic_interest_payment.png');transition-delay:.3s"></li>
      <li class="need-animate left-animate" style="transition-delay:.4s">完成支付</li>
      <li class="need-animate left-animate" style="transition-delay:.5s">支付5万元或500个TKC的加盟费，以及10万元加盟保证金（可退还）</li>
    </ul>
    <ul>
      <li class="need-animate left-animate"
          style="background-image: url('../img/ic_interest_examine.png');transition-delay:.5s"></li>
      <li class="need-animate left-animate" style="transition-delay:.6s">资质审核</li>
      <li class="need-animate left-animate" style="transition-delay:.7s">工作人员根据所提交资料及费用进行严格审核，并在3个工作日内予以答复</li>
    </ul>
    <ul>
      <li class="need-animate left-animate"
          style="background-image: url('../img/ic_interest_.png');transition-delay:.7s"></li>
      <li class="need-animate left-animate" style="transition-delay:.8s">达成合作</li>
      <li class="need-animate left-animate" style="transition-delay:.9s">审核通过后，由TailorX颁发《加盟认证书》，则可获得指定商品的销售权益</li>
    </ul>
  </div>
</div>

<div class="join-course" id="join-course">
  <div class="index-title tx-box">
    <img src="../img/title_fazhanlicheng.png">
    <h4><span>发展历程</span></h4>
  </div>

  <div class="time-axis tx-box">
    <ul>
      <li class="time need-animate" style="transition-delay:.1s">2016年6月06日</li>
      <li class="dot need-animate" style="transition-delay:.2s"></li>
      <li class="info need-animate" style="transition-delay:.3s">
        <span>获得数千万天使投资</span>
        打通线上预约、线下量体、设计、制作、物流全链业务流程新概念，获得有糖资本的青睐，并投资数千万天使轮
      </li>
    </ul>
    <ul>
      <li class="time need-animate" style="transition-delay:.3s">2016年10月14日</li>
      <li class="dot need-animate" style="transition-delay:.4s"></li>
      <li class="info need-animate" style="transition-delay:.5s">
        <span>TailorX--APP正式上线</span>
        在tailorx目标用户的期待鼓励下，APP正式上线，标志着线上线下相结合的互联网服装定制模式真正进入探索阶段
      </li>
    </ul>
    <ul>
      <li class="time need-animate" style="transition-delay:.5s">2016年11月18日</li>
      <li class="dot need-animate" style="transition-delay:.6s"></li>
      <li class="info need-animate" style="transition-delay:.7s">
        <span>上海青浦工业园区工厂剪彩投产</span>
        拥有数百员工，所占面积2700平米的TailorX工厂正式投入运行，自动剪裁、自动锁边、自动一体整烫等国际领先技术全套引进，
        代表着国际最先进技术的自动化工厂建设完成，首批订单投入生产
      </li>
    </ul>
    <ul>
      <li class="time need-animate" style="transition-delay:.7s">2016年12月28日</li>
      <li class="dot need-animate" style="transition-delay:.8s"></li>
      <li class="info need-animate" style="transition-delay:.9s">
        <span>TailorX首家门店--上海新天地店开业试运营</span>
        坐落于上海商务中心的新天地门店，在经历了为期28天选址、装修、招聘等环节后，正式全面投入运营
      </li>
    </ul>
    <ul>
      <li class="time need-animate" style="transition-delay:.4s">2017年7月21日</li>
      <li class="dot need-animate" style="transition-delay:.5s"></li>
      <li class="info need-animate" style="transition-delay:.6s">
        <span>APP3.0重磅发布，TailorX正式营运</span>
        集TailorX全体员工智慧，历经3年的努力，APP3.0版本正式发布上线，预示着互联网服装定制模式由概念真正落地，从用户通过app
        下单到门店进行面料选择、量体到设计师设计、制版到工厂裁剪、缝制、整烫、质检到物流发货全链业务流程全面打通
      </li>
    </ul>
    <ul>
      <li class="time need-animate" style="transition-delay:.6s">2017年8月22日</li>
      <li class="dot need-animate" style="transition-delay:.7s"></li>
      <li class="info need-animate" style="transition-delay:.8s">
        <span>正式开业，营收突破50万</span>
        门店开业当月，受广大都市白领热捧，订单络绎不绝发往青浦工厂，当月门店营收突破50万元
      </li>
    </ul>
    <ul>
      <li class="time need-animate" style="transition-delay:.8s">2017年8月30日</li>
      <li class="dot need-animate" style="transition-delay:.9s"></li>
      <li class="info need-animate" style="transition-delay:1s">
        <span>TailorX-BOKECAD开发完成</span>
        团队核心部门（会制版的服装设计师）+线上制版软件（TailorX-BOKECAD），真正为我们的项目塑造起行业竞争壁垒
      </li>
    </ul>
    <ul>
      <li class="time need-animate" style="transition-delay:1s">2017年9月15日</li>
      <li class="dot need-animate" style="transition-delay:1.1s"></li>
      <li class="info need-animate" style="transition-delay:1.2s">
        <span>用户数量突破十万人，累计订单量破万</span>
        经过半年不断的尝试，累计覆盖用户达十万人，累计订单量破万，二次购买率达40%之高，客户满意度达98%以上，所有数据显示TailorX从0到1冷启动顺利完成
      </li>
    </ul>
    <ul>
      <li class="time need-animate" style="transition-delay:1.2s">2017年9月30日</li>
      <li class="dot need-animate" style="transition-delay:1.3s"></li>
      <li class="info need-animate" style="transition-delay:1.4s">
        <span>拓展淘宝、天猫线上渠道</span>
        TailorX进入快速发展期，故引入品牌加盟模式，打通国内各大电商渠道，将我们的服务、品牌、服装带给更多的用户
      </li>
    </ul>
    <div class="more">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<div class="join-product tx-box" id="join-product">
  <div class="index-title">
    <img src="../img/title_xiangguanchanpin.png">
    <h4><span>相关产品</span></h4>
  </div>

  <div class="content">
    <div>
      <h4>TailorX-用户端</h4>
      <h5>用户通过手机进行预约定制</h5>
      <p>
        <i style="background-image: url('../img/ic_products_app.png')"></i>
        APP
      </p>
    </div>
    <div>
      <h4>TailorX-门店端</h4>
      <h5>线下门店设计师管理、接单、设计</h5>
      <p>
        <i style="background-image: url('../img/ic_products_store.png')"></i>
        Web
      </p>
    </div>
    <div>
      <h4>TailorX-工厂端</h4>
      <h5>针对定制订单进行管理</h5>
      <p>
        <i style="background-image: url('../img/ic_products_factory.png')"></i>
        Pad
      </p>
    </div>
    <div>
      <h4>TailorX-官网</h4>
      <h5>投资伙伴可加盟入驻</h5>
      <p>
        <i style="background-image: url('../img/ic_products_web.png')"></i>
        Web
      </p>
    </div>
    <div>
      <h4>TailorX-BOKE软件</h4>
      <h5>服装设计师线上制版软件</h5>
      <p>
        <i style="background-image: url('../img/ic_products_backstage.png')"></i>
        客户端
      </p>
    </div>
    <div>
      <h4>TailorX-工厂Pad</h4>
      <h5>工厂工人操作流程使用</h5>
      <p>
        <i style="background-image: url('../img/ic_products_pad.png')"></i>
        Pad
      </p>
    </div>
  </div>
</div>

<div class="join-ambient tx-box" id="join-ambient">
  <div class="index-title">
    <img src="../img/title_huanjingzhanshi.png">
    <h4><span>环境展示</span></h4>
  </div>

  <ul class="img-box" style="margin-top: 45px">
    <li class="big" onclick="TailorX.event.showSwiper(8)" style="background-image: url('../img/join/join-9.jpg')"></li>
    <li class="big" onclick="TailorX.event.showSwiper(16)"
        style="background-image: url('../img/join/join-17.jpg')"></li>
    <li class="small">
      <span onclick="TailorX.event.showSwiper(19)" style="background-image: url('../img/join/join-20.jpg')"></span>
      <span onclick="TailorX.event.showSwiper(9)" style="background-image: url('../img/join/join-10.jpg')"></span>
    </li>
  </ul>
  <ul class="img-box">
    <li class="small">
      <span onclick="TailorX.event.showSwiper(10)" style="background-image: url('../img/join/join-11.jpg')"></span>
      <span onclick="TailorX.event.showSwiper(21)" style="background-image: url('../img/join/join-22.jpg')"></span>
    </li>
    <li onclick="TailorX.event.showSwiper(12)" class="big"
        style="background-image: url('../img/join/join-13.jpg')"></li>
    <li onclick="TailorX.event.showSwiper(18)" class="big"
        style="background-image: url('../img/join/join-19.jpg')"></li>
  </ul>
</div>

<div class="join-shade-apply" onclick="TailorX.event.apply()">
  <img src="../img/join-apply.png">
</div>

<div class="join-shade-text text1" onclick="TailorX.event.text()">
  <iframe class="box" src="join-agreement.html"></iframe>
</div>

<div class="join-shade-text text2" onclick="TailorX.event.text2()">
  <div class="box">
    <h3>加盟权益</h3>
    <h5>
      相关义务：
      <br>1. 必须是TailorX有效注册用户；
      <br>2. 登陆http://www.tailorx.cn/阅读并同意加盟协议且支付加盟保证金；
      <br>3. 加盟费为5万元（也可以使用500个TKC支付）；
      <br>4. 加盟保证金为10万人民币，加盟期限最少为1年；
      <br>5. 加盟店需严格遵守TailorX制定的市场规范，禁止破坏TailorX的市场定价及品牌形象和相关约定规则（具体见协议内容），如有违法也会扣除加盟保证金；
      <br>6. 加盟店需合理的安排在线客服提供销售咨询等销售服务；
      <br>7. 加盟店所有商品及介绍图片均有TailorX提供，不得擅自更改，不得擅自增减，不得销售非TailorX商品；
      <br>8. 加盟店销售商品价格为TailorX指定市场零售价，加盟店可以有相应的市场活动（如：赠券、包邮等），但不能直接调整统一零售定价；
      <br>9. 为防止加盟店恶意违约，加盟店需提前支付储值金，根据销售额度逐步扣除直至储值金不足以再次发货，如需继续发货需提前补足储值金；
      <br>10. 储值金每次冲入额度为5000元、1万元、5万元、10万元，四个额度可任选其一，可多次充值。
      <br>11. 因线上加盟，所以不支持在线个人服装定制业务，个人服装定制业务仅支持线下加盟店。

      <br><br>享受条件：
      <br>1、产品采购成本为官方指定售价的6折；
      <br>2、加盟保证金可在年营业收入超过20万后到期退还；
      <br>3、每个加盟店支付加盟保证金后可以获得有TailorX先期垫付的5000元储值金，便于加盟店直接开张营业。需在此笔储值金用完后下次支付储值金时归还TAILORX前期垫付的5000元储值金。
      <br>5、储值金不计息，在加盟商停止加盟后，如有剩余储值金可原路退回；
      <br>6、线上加盟接受企业服装（工作服、特殊服装、校服、制服、COSPLAY等）的批量定制订单，该订单可以联系最近城市的TAILORX门店设计师完成订单设计制作服务。
    </h5>
  </div>
</div>
<div class="join-shade-text text3" onclick="TailorX.event.text3()">
  <div class="box">
    <h3>货权运营公告</h3>
    <h5>
      1. 必须是 TAILORX 有效注册用户； 每年需缴纳 100 个 TKC 的年服务费（可一次续约多年），作为支持货权开发团队项目运营 费用；
      <br>2. 参与 TAILORX 商品货权服务，每件商品需按零售价格一半购买该商品货权，该商品被加 盟商销售后，可获得商品零售价格的 20%作为利润；
      <br>3. 赤链提供货权商品流转的区块记账功能，货权人可以查询到其货权商品流转的整个过程；
      <br>4. 用户从加盟商购买 TAILORX 产品，确认收货，且没有退换货后，此笔货权交易结束。购 买货权的资金和利润全部退回其货权账户（货权 APP），可以随时提现也可以继续参与货 权；
      <br>5. 可以同时参与多个产品或者单个商品的货权服务，在 TAILORX 没有单独声明的前提下没 有数量和品类限制；
      <br>6. 加盟商可以同时参与货权服务，以获得加盟商 40%的收入+货权服务 20%总计 60%的销 售利润。
      <br>7. 加盟商参与货权服务后，加盟商所销售商品优先由其货权供货；
    </h5>
    <h4>举例说明：</h4>
    <h5>
      <span></span>加盟商 A 加盟后，在淘宝开了 AAA tailorx 旗舰店。其定期更新同步 TAILORX 的商品 内容，所有商品 TAILORX 都有专业模特和摄影以及后期的修图制作，A 只需简单的同步商 品及价格后，就可以开始销售工作了。
      <br><span></span>当有客户通过其淘宝店咨询并下单购买服装后，客户付款直接进入 A 的淘宝店的支付 宝账户，TAILORX 扣除相应的零售价 6 折的储值金，然后由 TAILORX 服装工厂直接发货。 客户收到货需要退换货，会跟 A 的淘宝客服联系，然后再发起退换货申请，并由 TAILORX 服装工厂物流部处理。如果该客户确认收货，且没有退换货需求那么此笔订单即完成。
      <br><span></span>以一件羊绒大衣为例，同品质大衣在市场上是 5000-8000 元左右，而 TAILORX 的零 售定价为 1500 元左右，如果该服装价格按 1000 元计算，A 可获得 40%的利润即 400 元。 如此推算，如果完成 100 件服装的销售，A 可获得销售收入 10 万元，利润 4 万元。如果 销售 1000 件服装那么营业额可达 100 万元，利润 40 万元。年度达到 20 万元营业额后， 还享受到期返还加盟保证金 10 万元政策。如果，A 还参与货权服务，在此基础上还能增加 20%的收入，达到利润 60 万元。
      <br><span></span>基于上线业务的发展，以及 TAILORX 大众定制的服装设计师能力的培训，陆续开展线 下加盟店的合作，线上加盟商在同等条件下享有优先加盟权。
    </h5>
  </div>
</div>

<div class="join-shade-swiper" onclick="TailorX.event.showSwiper()">
  <div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="../img/join/join-1.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-2.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-3.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-4.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-5.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-6.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-7.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-8.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-9.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-10.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-11.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-12.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-13.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-14.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-15.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-16.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-17.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-18.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-19.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-20.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-21.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-22.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-23.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-24.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-25.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-26.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-27.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-28.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-29.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-30.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-31.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-32.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-33.jpg"></div>
      <div class="swiper-slide"><img src="../img/join/join-34.jpg"></div>
    </div>
    <div class="swiper-pagination swiper-pagination-fraction"></div>
  </div>
  <div class="pagination-button prev"><img src="../img/mdd-arrow_left.png"></div>
  <div class="pagination-button next"><img src="../img/mdd-arrow_right.png"></div>
</div>

<link rel="import" href="../components/footer.html?__inline">

<script type="text/javascript" src="../js/main.js"></script>
<link rel="import" href="../components/script.html?__inline">
<script type="text/javascript" src="../lib/js/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript">

  var TailorX = TailorX || {};
  (function (tx) {

    $(function () {

      TxMain.init.headerTo(4);
      tx.init.animate();
      tx.init.swiperChange();
      tx.event.video();
      tx.event.timeAxis();
      tx.event.stopPropagation('.join-shade-text.text1 .box');
      tx.event.stopPropagation('.join-shade-text.text2 .box');
      tx.event.stopPropagation('.join-shade-text.text3 .box');
      tx.Swiper = tx.init.swiper();


    });


    tx.init = {
      animate: function () {
        $(window).on('load resize scroll', function () {
          var $this = $(this)
            , wst = $this.scrollTop();

          $.each($('.need-animate'), function (index, val) {
            var ot = $(val).offset().top;
            if (ot - wst < $this.height() && ot - wst > $(val).height() * -1) {
              $(val).addClass('animation');
              $(val).removeClass('stop-animation');
            } else {
              $(val).removeClass('animation');
              $(val).addClass('stop-animation');
            }
          });

        });
      },
      swiper: function () {
        return new Swiper('.swiper-container', {
          pagination: '.swiper-pagination',
          paginationType: 'fraction',
          autoHeight: true
        });
      },
      swiperChange: function () {
        $('.pagination-button.prev').on('click', function (event) {
          event.stopPropagation();
          tx.Swiper.slidePrev();
        });
        $('.pagination-button.next').on('click', function (event) {
          event.stopPropagation();
          tx.Swiper.slideNext();
        });
      }
    };

    tx.event = {
      video: function () {
        $('.start-player').on('click', function () {
          $('#video').attr('controls', 'controls')[0].play();
          setTimeout(function () {
            $('.video-box').addClass('start');
          }, 500)
        });
      },
      timeAxis: function () {
        $('.join-course .more').on('click', function () {
          $('.join-course .time-axis').toggleClass('show');
        });
      },
      apply: function () {
        $('.join-shade-apply').toggleClass('show');
      },
      text: function () {
        $('.join-shade-text.text1').toggleClass('show');
        tx.event.banScroll($('.join-shade-text.text1').hasClass('show'));
      },
      text2: function () {
        $('.join-shade-text.text2').toggleClass('show');
        tx.event.banScroll($('.join-shade-text.text2').hasClass('show'));
      },
      text3: function () {
        $('.join-shade-text.text3').toggleClass('show');
        tx.event.banScroll($('.join-shade-text.text3').hasClass('show'));
      },
      showSwiper: function (num) {
        if (!tx.Swiper) {
          return;
        }
        num && tx.Swiper.slideTo(num);
        setTimeout(function () {
          $('.join-shade-swiper').toggleClass('show');
        }, 300);
      },
      stopPropagation: function (el) {
        $(el).on('click', function (event) {
          event.stopPropagation();
        });
      },
      banScroll: function (type) {
        $('body').css({overflow: type ? 'hidden' : 'inherit'});
      }
    };
  })(TailorX);

</script>
</body>
</html>