<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>诚聘英才</title>
  <meta name="referrer" content="never">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../lib/style/swiper-3.4.2.min.css">
  <link rel="stylesheet" href="../css/recruit.css">
</head>
<body>

<link rel="import" href="../components/header.html?__inline">

<div class="tx-fixed-nav">
  <ul>
    <li>联系我们<i style=" background-image: url('../img/ic_nav_telephone.png')"></i>
      <h6 style="margin-top: 10px;">电话：028-85469772</h6>
      <h6 style="margin-top: 3px;">邮箱：<span style="color: #7ADFAC">cdhr@utouu.com</span></h6>
    </li>
  </ul>
</div>

<div class="tx-box" id="recruit-app" style="padding-top: 90px">
  <img src="../img/recruit-banner.png">

  <div class="post-box tx-box">
    <div class="title">
      <h1><span>店长助理</span></h1>
      <h2>薪资：3000-5000</h2>
    </div>

    <div class="post-title">
      <span>职位描述：</span>
      <span>职位要求：</span>
    </div>

    <div class="post-info">
      <table>
        <tr>
          <td>
            <label><span>1、</span>接待客户进店并协助客户挑选服装款式以及服装面料;</label>
            <label><span>2、</span>熟悉掌握产品知识，了解产品价格及相应活动内容;</label>
            <label><span>3、</span>负责电话邀约客户到店;</label>
            <label><span>4、</span>负责协助店面的日常清洁及保养工作，负责装饰品摆放整齐，宣传资料及时复位等工作;</label>
            <label><span>5、</span>认同公司企业文化，遵守公司各项制度;</label>
            <label><span>6、</span>领导交代的其他工作。</label>
          </td>
          <td style="width: 3%;background: none"></td>
          <td>
            <label><span>1、</span>服装设计、平面设计等相关专业;</label>
            <label><span>2、</span>具有一定的应变及沟通能力，具有团队合作精神，善于处理人际关系;</label>
            <label><span>3、</span>能吃苦耐劳，具有团队精神;</label>
            <label><span>4、</span>熟练运用office等办公软件;</label>
            <label><span>5、</span>专科以上学历，形象气质佳，</label>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="post-box tx-box">
    <div class="title">
      <h1><span>男装设计师</span></h1>
      <h2>薪资：5000-8000</h2>
    </div>

    <div class="post-title">
      <span>职位描述：</span>
      <span>职位要求：</span>
    </div>

    <div class="post-info">
      <table>
        <tr>
          <td>
            <label><span>1、</span>独立进行款式的收集、开发、设计和实施；</label>
            <label><span>2、</span>负责设计图纸及板单，参与和跟踪产品打样工作和生产工艺流程设计；</label>
            <label><span>3、</span>协调所负责的设计品类完成色样、面辅料、初样、大货样的确认和修改调整及跟进工作；</label>
            <label><span>4、</span>根据确定的设计方向，和相关部门合作进行产品搭配及拍摄工作；</label>
            <label><span>5、</span>做好产品上架后销售情况的分析与检讨，并按公司要求完成产品开发。</label>
          </td>
          <td style="width: 3%;background: none"></td>
          <td>
            <label><span>1、</span>服装或美术设计相关类专业，有相关工作经验者；</label>
            <label><span>2、</span>熟悉服饰成本构成、工艺制作、运作流程和操作规范，对面辅料工艺及成份有一定的认识；手绘功底扎实；</label>
            <label><span>3、</span>了解时尚品牌设计流程，熟悉商品企划，对时尚敏感度高。对于服装设计有自己的风格，提出设计产品的概念、款式、色彩的总体思路和方向等。</label>
            <label><span>4、</span>懂得运用coreldraw， Photoshop，illustrator等服装设计绘图软件；</label>
            <label><span>5、</span>能独立完成图稿设计制作、产品开发工作；并具有扎实美术功底，具有扎实的美术基础、色彩控制能力强、想象力丰富</label>
            <label><span>6、</span>熟悉男装的工艺流程，有一定的男装设计经验，了解客户需求设计男装。</label>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="post-box tx-box">
    <div class="title">
      <h1><span>女装设计师</span></h1>
      <h2>薪资：5000-8000</h2>
    </div>

    <div class="post-title">
      <span>职位描述：</span>
      <span>职位要求：</span>
    </div>

    <div class="post-info">
      <table>
        <tr>
          <td>
            <label><span>1、</span>独立进行款式的收集、开发、设计和实施；</label>
            <label><span>2、</span>负责设计图纸及板单，参与和跟踪产品打样工作和生产工艺流程设计；</label>
            <label><span>3、</span>协调所负责的设计品类完成色样、面辅料、初样、大货样的确认和修改调整及跟进工作；</label>
            <label><span>4、</span>根据确定的设计方向，和相关部门合作进行产品搭配及拍摄工作；</label>
            <label><span>5、</span>做好产品上架后销售情况的分析与检讨，并按公司要求完成产品开发。</label>
          </td>
          <td style="width: 3%;background: none"></td>
          <td>
            <label><span>1、</span>服装或美术设计相关类专业，有相关工作经验者；</label>
            <label><span>2、</span>熟悉服饰成本构成、工艺制作、运作流程和操作规范，对面辅料工艺及成份有一定的认识；手绘功底扎实；</label>
            <label><span>3、</span>了解时尚品牌设计流程，熟悉商品企划，对时尚敏感度高。对于服装设计有自己的风格，提出设计产品的概念、款式、色彩的总体思路和方向等。</label>
            <label><span>4、</span>懂得运用coreldraw， Photoshop，illustrator等服装设计绘图软件；</label>
            <label><span>5、</span>能独立完成图稿设计制作、产品开发工作；并具有扎实美术功底，具有扎实的美术基础、色彩控制能力强、想象力丰富</label>
            <label><span>6、</span>熟悉女装的工艺流程，有一定的女装设计经验，了解客户需求设计女装。</label>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="post-box tx-box">
    <div class="title">
      <h1><span>服装设计助理</span></h1>
      <h2>薪资：4000-6000</h2>
    </div>

    <div class="post-title">
      <span>职位描述：</span>
      <span>职位要求：</span>
    </div>

    <div class="post-info">
      <table>
        <tr>
          <td>
            <label><span>1、</span>协调所负责的设计品类完成色样、面辅料、初样、大货样的确认和修改调整及跟进工作；</label>
            <label><span>2、</span>协助完成产品开发、设计，及面辅料的准备工作，对面料、辅料有一定的认识和了解;</label>
            <label><span>3、</span>工作积极主动、踏实勤奋、责任心强、对数据敏感、能够配合协助部门完成工作计划。</label>
          </td>
          <td style="width: 3%;background: none"></td>
          <td>
            <label><span>1、</span>懂服装设计、纸样，熟悉服装版型类型，能够协助设计师审版、定版，与打版师、车版师沟通修改;</label>
            <label><span>2、</span>思维活跃，对时尚具有敏锐的洞察力，具有创新意识，能把握服饰的色彩、面料等流行趋势;</label>
            <label><span>3、</span>熟练操作coreldraw 、excel、photo shop、corel draw 等设计软件;</label>
            <label><span>4、</span>熟悉服装工艺，了解服装制作流程;</label>
            <label><span>5、</span>完成上级领导交办的其他临时事务。</label>
            <label><span>6、</span>服装设计相关专业及大专以上学历;</label>
            <label><span>7、</span>良好的沟通能力及团队合作精神，善于创新，接受能力强</label>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="post-box tx-box">
    <div class="title">
      <h1><span>版师</span></h1>
      <h2>薪资：8000-15000</h2>
    </div>

    <div class="post-title">
      <span>职位描述：</span>
      <span>职位要求：</span>
    </div>

    <div class="post-info">
      <table>
        <tr>
          <td>
            <label><span>1、</span>协助设计师完成开发工作，根据设计师的要求和开发进度，按时完成每季的开发任务；</label>
            <label><span>2、</span>与设计师沟通制作成品效果，在工作中提出合理的建议不断优化板型和工艺；</label>
            <label><span>3、</span>及时跟进样衣进度，检查工艺和样衣板型匹配度，确保样衣质量；</label>
            <label><span>4、</span>根据批板进度完成纸样修改工作；</label>
            <label><span>5、</span>独立完成纸样修改，准确提供面辅料尺寸；</label>
            <label><span>6、</span>准确提供下单款尺寸及样衣；</label>
            <label><span>7、</span>有定制经验优先</label>

          </td>
          <td style="width: 3%;background: none"></td>
          <td>
            <label><span>1、</span>8年以上同等岗位的工作经验，有定制经验者优先考虑；</label>
            <label><span>2、</span>能够手工制版，有较高的审美要求，对服装造型、工艺有独特见解。</label>
            <label><span>3、</span>具有分析判断能力，能有效地分配工作；</label>
            <label><span>4、</span>熟练操作博客软件。</label>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="post-box tx-box" style="opacity: 0" :class="{show:storeList.length}">
    <div class="title">
      <h1><span>招聘门店</span></h1>
      <img src="../img/zhaopinmendian.png" style="margin-top: 10px">
    </div>
    <ul class="pagination">
      <li v-for="(item,index) in storeList" :class="{active:index === activeStore}"
          v-text="item.city === '黄浦' ? '上海' : item.city" @click="storeSwiper.slideTo(activeStore = index)">
      </li>
    </ul>

    <div class="store-list">
      <div class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="item in storeList">
            <h5 v-text="item.name"></h5>
            <h6>地址：<span v-text="item.address"></span></h6>
            <div class="img-top"
                 :style="{'background-image':'url('+ item.pictures[0].pictureUrl +')'}"></div>
            <div class="img-left"
                 :style="{'background-image':'url('+ item.pictures[1].pictureUrl +')'}"></div>
            <div class="img-right"
                 :style="{'background-image':'url('+ item.pictures[2].pictureUrl +')'}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="import" href="../components/footer.html?__inline">

<script type="text/javascript" src="../js/main.js"></script>
<link rel="import" href="../components/script.html?__inline">
<script type="text/javascript" src="../lib/js/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="../lib/js/vue.min.js"></script>
<script type="text/javascript">

  TxMain.init.headerTo(5);
  new Vue({
    el: '#recruit-app',
    data: {
      storeList: [],
      activeStore: 0,
      storeSwiper: {}
    },
    created: function () {
      this.getStoreList();
    },
    methods: {
      getStoreList: function () {
        var _this = this;
        $.post(TxConfig.env.headUrl + '/web/findAllStores').then(function (res) {
          _this.storeList = res.data;
          setTimeout(function () {
            _this.storeSwiper = new Swiper('.swiper-container', {
              simulateTouch: false
            });
          }, 0)
        });
      },
      ossImage: $.ossImage
    }
  });
</script>
</body>
</html>